<ion-view view-title="About us">

  <ion-content>
	  <head>

		  <link rel="stylesheet" type="text/css" href="css/style.css"/>
		  <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet" type="text/css">

	  </head>
    <body>
		<div class="aboutCompany">
			<b>Natural Apptitude Ltd</b> is a software company based in Bristol.<br><br> 
			We specialise in making bespoke smartphone apps in the fields of ecology, biology and medicine.
		</div>
	</body>
  </ion-content>	
  
</ion-view>
