<ion-view view-title="<b>About us</b>">

  <ion-content>
	  <head>
		  <link rel="stylesheet" href="../css/style.css">
		  <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet" type="text/css">
	  </head>
    <body>

    <!-- Slideshow -->
		<div class="fadein">
		  <img src="img/backgrounds/dog1.jpg" alt="a woman walking her dog in a park">
		  <img src="img/backgrounds/dog2.jpg" alt="a man walking his dog on sidewalk">
		  <img src="img/backgrounds/dog3.jpg" alt="a girl hugging her dog">
		  <img src="img/backgrounds/dog5.jpg" alt="a girl with her dog">
		</div>

		<div class="aboutCompany">
			<b>Natural Apptitude Ltd</b> is a software company based in Bristol.<br><br>
			We specialise in making bespoke smartphone apps in the fields of ecology, biology and medicine. <br> <br>

			So far we have released a wide range of mobile applications that help our community to preserve nature and to become more aware of the fauna and flora surrounding us. Some of the company’s apps are BeeMap, MoorMoss, RiverObstacles and iRecord Grasshoopers. They all try to address and help solve problems related to our environment. <br> <br>

            One of the problems which the UK faces which people do not take seriously is that regarding the issue of dog waste.
            Although the majority of dog owners know to clean up after their dogs, there are some who do not care to do so. This percentage of people beleive it is unneccesary as dog waste is biodegradable and will 'disappear' within a short period of time.

            However, when dog waste is left on the street it ceates a huge inconvenience for the community and, more importantly, poses a great threat to young children.
            For these reasons we have created this App. Please Enjoy!
		</div>

	<div class="wrapper">
		<button class="button-link" ng-click="shareAnywhere()">Share with friends</button>
		<button class="button-link" ng-click="goToProjectsPage()">Check out our other projects!</button>
	</div>

	</body>
  </ion-content>

</ion-view>
