<ion-view view-title="Drag and drop test page">

	<ion-content scroll="false">
		<body>
			<div id="map" droppable data-tap-disabled="true" click="handleDrop()"></div>
		
			<div id="icon_panel">
				<div id="poopDraggable" draggable>
					<img id="poop" src="img/Assets/poop_small.png">
				</div>
				
				<div id="icon_panel_spacer"></div>
				
				<div id="binDraggable" draggable>
					<img id="bin" src="img/Assets/bin_small.png">
				</div>
			</div>
			
		</body>
  </ion-content>
</ion-view>