<ion-view view-title="<b>Doggy map!</b>">

	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="tutorialStart()">
			<i class="icon ion-ios-information-outline"></i>
		</button>
	</ion-nav-buttons>

	<ion-content scroll="false">
		<div id="pinpointHolder" class="animated bounceInLeft"></div>
		<button id="pinpoint" class="button button-icon animated bounceInLeft" 
		 ng-mouseup="refreshMap()">
				<i class="icon ion-pinpoint"></i>
		</button>
		
		<div id="nearestBinHolder" class="animated bounceInLeft"></div>
		<button id="nearestBin" class="button button-icon animated bounceInLeft" 
		 ng-mouseup="findNearestBin(userMarker)">
				<i class="icon ion-search"></i>
		</button>
		
		<div id="cancelButtonHolder" class="animated bounceInLeft"></div>
		<button id="cancelButton" class="button button-icon animated bounceInLeft" 
		 ng-mouseup="cancelNearestBin()">
				<i class="icon ion-ios-undo"></i>
		</button>
		
		<div id="map" droppable data-tap-disabled="true" click="handleIconPress()"></div>
	
		<div id="panelOpenHolder" class="animated bounceInRight"></div>
		<button id="panelOpen" class="button button-icon animated bounceInLeft" 
		 ng-mouseup="showIconPanel()">
				<i class="icon ion-location"></i>
		</button>
	
		<div id="panelMinimizeHolder"></div>
		<button id="panelMinimize" class="button button-icon" ng-mouseup="minimizePanel()">
				<i class="icon ion-minus-round"></i>
		</button>
		
		<div id="iconPanel"></div>
		
		<img id="poopDraggable" draggable src="img/Assets/poop.png">

		<img id="binDraggable" draggable src="img/Assets/dog_bin.png">

		<img id="manDraggable" draggable src="img/Assets/man-walking-dog.png">
		
  </ion-content>

    <walkthrough
        wid="Demo0"
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#panelOpen"
        icon="arrow"
        main-caption="{{demoMapCaption0}}"
        has-glow=true
        force-caption-location="BOTTOM"
        icon-padding-left="0"
        icon-padding-top="0"
        is-active="isMapActive0"
        on-walkthrough-hide="nextTutorial()"
        use-button=false>
    </walkthrough>

    <walkthrough
        wid="Demo1"
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#poopDraggable"
        icon="arrow"
        main-caption="{{demoMapCaption1}}"
        has-glow=true
        force-caption-location="BOTTOM"
        icon-padding-left="0"
        icon-padding-top="0"
        is-active="isMapActive1"
        on-walkthrough-hide="nextTutorial()"
        use-button=false>
    </walkthrough>

    <walkthrough
        wid="Demo2"
        is-round=false
        walkthrough-type="tip"
        tip-color="BLACK"
        main-caption="{{demoMapCaption2}}"
        force-caption-location="BOTTOM"
        icon-padding-left="0"
        icon-padding-top="0"
        is-active="isMapActive2"
        on-walkthrough-hide="nextTutorial()"
        use-button=false>
    </walkthrough>

    <walkthrough
        wid="Demo3"
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#manDraggable"
        icon="arrow"
        main-caption="{{demoMapCaption3}}"
        has-glow=true
        force-caption-location="BOTTOM"
        icon-padding-left="0"
        icon-padding-top="0"
        is-active="isMapActive3"
        on-walkthrough-hide="nextTutorial()"
        use-button=false>
    </walkthrough>

    <walkthrough
        wid="Demo4"
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#nearestBin"
        icon="arrow"
        main-caption="{{demoMapCaption4}}"
        has-glow=true
        force-caption-location="TOP"
        icon-padding-left="0"
        icon-padding-top="0"
        is-active="isMapActive4"
        on-walkthrough-hide="nextTutorial()"
        use-button=false>
    </walkthrough>

    <walkthrough
        wid="Demo5"
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#cancelButton"
        icon="arrow"
        main-caption="{{demoMapCaption5}}"
        has-glow=true
        force-caption-location="TOP"
        icon-padding-left="0"
        icon-padding-top="0"
        is-active="isMapActive5"
        on-walkthrough-hide="nextTutorial()"
        use-button=false>
    </walkthrough>

    <walkthrough
        wid="Demo6"
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#pinpointHolder"
        icon="arrow"
        main-caption="{{demoMapCaption6}}"
        has-glow=true
        force-caption-location="BOTTOM"
        icon-padding-left="0"
        icon-padding-top="0"
        is-active="isMapActive6"
        on-walkthrough-hide="nextTutorial()"
        use-button=false>
    </walkthrough>
</ion-view>
