<ion-view view-title="Doggy map!">
	
  <ion-nav-buttons side="right">
			<button class="button button-icon" ng-mouseup="refreshMap()">
				<i class="icon ion-pinpoint"></i>
			</button>
	</ion-nav-buttons>
	
	
	<ion-content scroll="false">
		
		<button id="pinPoint" class="button button-icon" ng-mouseup="refreshMap()">
			<i class="icon ion-pinpoint"></i>
		</button>
		
		<body>
		
			<!-- ionicLoading must freeze the entire app so an alternative may be to display a 
					 message and cover the map with another element. Currently not fully implemented -->
			<!-- <div id='mapLoading' ng-show="loadingData" class="button button-icon icon ion-load-c"></div> -->
			
			<div id="map" droppable data-tap-disabled="true" click="handleIconPress()"></div>
		
			<div id="icon_panel">
				<div id="poopDraggable" draggable>
					<img id="poop" src="img/Assets/poop_small.png">
				</div>
				
				<div id="icon_panel_spacer"></div>
				
				<div id="binDraggable" draggable>
					<img id="bin" src="img/Assets/bin_small.png">
				</div>
			</div>
			
		</body>

  </ion-content>
</ion-view>