<ion-view view-title="Doggy map!" >
	<ion-content scroll="false">
		<div id="pinpointContainer">
			<button id="pinpoint" class="button button-icon" ng-mouseup="refreshMap()">
				<i class="icon ion-pinpoint"></i>
			</button>
		</div>
		
		<div id="nearestBinContainer">
			<button id="nearestBin" class="button button-icon" ng-mouseup="findNearestBin()">
				<i class="icon ion-search"></i>
			</button>
		</div>
		
		<body>
			<div id="map" droppable data-tap-disabled="true" click="handleIconPress()"></div>
		
			<div id="icon_panel">
				
				<img id="poopDraggable" draggable src="img/Assets/poop.png">

				<div id="icon_panel_spacer"></div>
			
				<img id="binDraggable" draggable src="img/Assets/bin.png">

			</div>
			
		</body>

  </ion-content>
</ion-view>