<ion-view view-title="<b>Welcome to Pooper Snooper!</b>">
  <ion-content class="background" scroll="false">

    <!-- <body background="img/backgrounds/dotted-green.png"></body> -->
		<!-- <body background="img/backgrounds/dog-paws2.jpg"></body> -->
		
		<div id="welcomeImageDiv">
			<img id="welcomeImage" src="img/Assets/PS-logo2.png" alt="Pooper-snooper logo"></img>
		</div>

		<div id="binIconDiv" ng-show="loggedIn">
			<img id="binImage" src="img/Assets/dog_bin.png" alt="Pooper-snooper bin"></img>{{queryBins().length}}
		</div>

        <div id="poopIconDiv" ng-show="loggedIn">
            <img id="poopImage" src="img/Assets/poop.png" alt="Pooper-snooper bin"></img>
            {{queryFindings().length}}
        </div>
        <div id ="usernameTextWel"> 
            {{userData.username}} 
        </div>



  </ion-content>
</ion-view>
