<!-- Currently identical to newRecord.html but this is subject to change -->

<div class="modal">

	<!-- Modal header bar -->
	<ion-header-bar class="bar-secondary">
		<h1 class="title">
			Add your Poop!
			<i class="icon ion-trash-b"></i>
		</h1>
		<button class="button button-clear button-positive" ng-click="closeNewRecord()" side="right">Cancel</button>
	</ion-header-bar>

	<!-- Modal content area -->
	<ion-content>

		<form name="newRecord" ng-submit="createRecord()">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Date</span>
					{{record.dateTime.getDate()}}/{{record.dateTime.getMonth()+1}}/{{record.dateTime.getFullYear()}}
				</label>
				<label class="item item-input">
					<span class="input-label">Time</span>
					{{record.time}}
				</label>
				<label>
					<img ng-show="record.ImageURI === undefined" ng-src="img/Assets/poop_small.png" class="center">
					<img ng-show="record.ImageURI !== undefined" ng-src="{{record.ImageURI}}" class="center">
				</label>
				<div class="button-bar">
					<button id="brownButton" type="button" class="button  button-balanced" ng-click="takePicture()">
						<i class="icon ion-camera"></i>
						Take Photo
					</button>
					<button id="brownButton" type="button" side="right" class="button button-balanced" ng-click="getImage()">
						<i class="icon ion-android-image"></i>
						Find Photo
					</button>
				</div>
				<label class="item item-input">
					<span class="input-label">Long</span>
					{{record.lat}}
				</label>
				<label class="item item-input">
					<span class="input-label">Long</span>
					{{record.long}}
				</label>

			</div>
			<div class="padding">
				<p ng-show="newRecord.location.$error.required">* Location is required</p>
			</div>
			<div class="padding">
				<button type="submit" class="button button-block button-positive" ng-disabled="!createEnabled">
					Create record
				</button>
			</div>
		</form>

	</ion-content>

</div>
