
<div class="modal">

  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">
      Doggy finding record
      <i class="icon ion-trash-b"></i>
    </h1>
    <button id="brownFont" class="button button-clear button-positive" ng-click="closeViewRecord()" side="right">Close</button>
  </ion-header-bar>
  <ion-content>
    <form name="viewRecord">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">DateTime</span>
          {{selectedRec.DateTime}}
        </label>
        <label class="item item-input">
          <span class="input-label">Lat</span>
          {{selectedRec.Lat}}
        </label>
        <label class="item item-input">
          <span class="input-label">Long</span>
          {{selectedRec.Long}}
        </label>
        <label>
          <img ng-src="{{selectedRec.ImageURI}}" class="center"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Created by : </span>
          {{selectedRec.Username}}
        </label>

      </div>
    </form>

  </ion-content>
</div>
