<ion-modal-view class="map-help-Modal">
	
	<!-- Modal header bar -->
	<ion-header-bar class="bar-energized">
		<h1 class="title text-center-custom">
			<b>How to use Doggy Maps!</b>
		</h1>
		<button class="button button-icon" ng-click="tutorialEnd()">
			<i class="icon ion-close-circled"></i>
		</button>
	</ion-header-bar>
	
	<ion-content scroll="false">
		
		<ion-slides  options="options" slider="data.slider">
		
			<ion-slide-page>
				<div class="customh2">Placing Markers</div>
                <div class="helper1" >
                    Click on the drop-down button for a selection of Markers.
                    
                    <img class="Tutorial" src="img/Assets/map-tutorial/1.png" align="middle">
               		
                </div>

			</ion-slide-page>
			
			<ion-slide-page>
				<div class="customh2">Placing Markers</div>
                <div class="helper1" >
                	
                    Next tap on either a Poop or Bin Marker from the panel to select a Marker.
                 
                    <img class="Tutorial" src="img/Assets/map-tutorial/2.png" align="middle">
               		
                </div>

			</ion-slide-page>
			
			<ion-slide-page>
				<div class="customh2">Placing Markers</div>
                <div class="helper1" >
                	
                    Simply tap on the desired location on the map to drop your first Marker! 
                 
                    <img class="Tutorial" src="img/Assets/map-tutorial/3.png" align="middle">
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Placing Markers</div>
                <div class="helper1" >
                	
                   	Continue past the confirmation window by pressing OK.
                    
                    <img class="Tutorial" src="img/Assets/map-tutorial/4.png" align="middle">
                    
                    Take a picture then hit Create Record!
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Placing Markers</div>
                <div class="helper1" >
                	
                    Viola! You have created your first Record and placed your first Marker!
                    
                    <img class="Tutorial" src="img/Assets/map-tutorial/7.png" align="middle">
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Finding a bin</div>
                <div class="helper1" >
                	
                    Click on the Search button in the bottom left to find your nearest Bin!
                   
                    <img class="Tutorial" src="img/Assets/map-tutorial/8.png" align="middle">
               		
               		This draws a path your nearest bin.

                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Finding a bin</div>
                <div class="helper1" >
                	
                    The 'Back' button will revert this action.
                  
                    <img class="Tutorial" src="img/Assets/map-tutorial/10.png" align="middle">
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Finding a bin</div>
                <div class="helper1" >
                	
                    You can drop a 'Man' marker on the map to find the nearest bin from any location!
                    
                    <img class="Tutorial" src="img/Assets/map-tutorial/11.png" align="middle">
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Finding a bin</div>
                <div class="helper1" >
                	
                    Pretty neat right?
                    
                    <img class="Tutorial" src="img/Assets/map-tutorial/13.png" align="middle">
               		
                </div>

			</ion-slide-page>

				<ion-slide-page>
				<div class="customh2">Reset the view</div>
                <div class="helper1" >
                	
                    And if you ever get lost simply press the top left button to recenter the map on your location!
                    
                    <img class="Tutorial" src="img/Assets/map-tutorial/14.png" align="middle">
               		
                </div>

			</ion-slide-page>

		</ion-slides>
		
	</ion-content>
	
</ion-modal-view>
