<ion-modal-view class="records-help-Modal">
	
	<!-- Modal header bar -->
	<ion-header-bar class="bar-energized">
		<h1 class="title text-center-custom">
			<b>How to use Doggy Records</b>
		</h1>
		<button class="button button-icon" ng-click="tutorialEnd()">
			<i class="icon ion-close-circled"></i>
		</button>
	</ion-header-bar>
	
	<ion-content scroll="false">
		
		<ion-slides  options="options" slider="data.slider">
		
			<ion-slide-page>
				<div class="customh2">Creating a new Record</div>
                <div class="helper1" >
                    
                    To create a new doggy record simply press the top right 'Add' button.
                    
                    <img class="Tutorial" src="img/Assets/records-tutorial/1.png" align="middle">
               		
                </div>

			</ion-slide-page>
			
			<ion-slide-page>
				<div class="customh2">Creating a new Record</div>
                <div class="helper1" >
                    
                    Next select the desired type of record.
                    
                    <img class="Tutorial" src="img/Assets/records-tutorial/2.png" align="middle">
               		
               		Bin Markers can be later 'validated' to show users that it is a reliable bin! They can also be down voted and removed. 
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Creating a new Record</div>
                <div class="helper1" >
                    
                    Take a picture (Ew!) and press "Find my location" to grab your current location. Then continue by pressing 'Create Record'.
                    
                    <img class="Tutorial" src="img/Assets/records-tutorial/3.png" align="middle">
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Creating a new Record</div>
                <div class="helper1" >
                    
                    Congratulations! 
                    <br>
                    Your first record has been successfully created!
                    
                    <img class="Tutorial" src="img/Assets/records-tutorial/4.png" align="middle">
               		
                </div>

			</ion-slide-page>
			
			<ion-slide-page>
				<div class="customh2">Viewing a record</div>
                <div class="helper1" >
                    
                   	You can click on a record from the main records page to view details.
                    
                    <img class="Tutorial" src="img/Assets/records-tutorial/5.png" align="middle">
               		
                    On the next page you can view details and take certain actions! Try them out!

                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Viewing a record</div>
                <div class="helper1" >
                                       
                    <img class="Tutorial" src="img/Assets/records-tutorial/6.png" align="middle">
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Filtering records</div>
                <div class="helper1" >

                	When your records log is too full and you want to filter them, simply press the 'Search' button!
                                       
                    <img class="Tutorial" src="img/Assets/records-tutorial/7.png" align="middle">
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Filtering records</div>
                <div class="helper1" >

                	Customize your filter to your hearts desire and apply when you are ready!
                                       
                    <img class="Tutorial" src="img/Assets/records-tutorial/8.png" align="middle">
               		
                </div>

			</ion-slide-page>

			<ion-slide-page>
				<div class="customh2">Refreshing records</div>
                <div class="helper1" >

                	Lastly, you can refresh the map page by clicking and dragging down anywhere on the records page.
                                       
                    <img class="Tutorial" src="img/Assets/records-tutorial/9.png" align="middle">
               		
                </div>

			</ion-slide-page>

		</ion-slides>
		
	</ion-content>
	
</ion-modal-view>
