/*------------------------------------------------*/
/* ----- Screen dimensions (px) : 667 * 375 ----- */
/*------------------------------------------------*/

/*--------------------------*/
/* ----- Welcome page ----- */
/*--------------------------*/

#welcomeImageDiv{
	position: fixed;
	top: 25%;
	left: 9%;
	width: 100%;
	height: 56.2%;
}

#welcomeImage{
	width: 80%;
	height: 80%;
}

.background.scroll-content {
    background: url('../img/backgrounds/dog-paws3.jpg') no-repeat;
    background-size: cover;
		left: -40%;
		top: 5%;
}

/*--------------------------------*/
/* ----- Doggy Records page ----- */
/*--------------------------------*/

.background-DoggyRecords.scroll-content {
    background: url('../img/backgrounds/bones.jpg') no-repeat;
    background-size: cover;
}

.record{
	opacity: 0.90;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Create record cancel */
#brownFont {
	color: #D2691E;
}

/* Create record buttons */
#brownButton {
		background: #D2691E;
}

/*----------------------------*/
/* ----- Doggy Map page ----- */
/*----------------------------*/

/* Icon-panel */
#iconPanel {
	border-radius: 3%;
	position: fixed;
	top: 12%;
	right: 2.5%;
	width: 13.35%;
	height: 23.5%;
	background: #D2691E;
	z-Index: 1;
	opacity: 0.85;
	visibility: hidden;
}
/* Draggable Poop */
#poopDraggable {
	position: fixed;
	top: 12%;
	right: 2.9%;
	width: 12.5%;
	height: 7.7%;
	z-Index: 2;
	visibility: hidden;
}
/* Draggable Bin */
#binDraggable {
	position: fixed;
	top: 20%;
	right: 2.9%;
	width: 12.5%;
	height: 7.7%;
	z-Index: 2;
	visibility: hidden;
}
/* Draggable Man */
#manDraggable {
	position: fixed;
	top: 28.5%;
	right: 4%;
	width: 9.6%;
	height: 5.9%;
	z-Index: 2;
	visibility: hidden;
}

/* Icon Panel Close */
#panelMinimizeHolder {
	border-radius: 7%;
	position: fixed;
	top: 8%;
	right: 2.5%;
	width: 13.35%;
	height: 3.5%;
	background: #D2691E;
	z-Index: 1;
	opacity: 0.85;
	visibility: hidden;
}
#panelMinimize {
	position: fixed;
	right: 4.2%;
	top: 6.5%;
	color: white;
	z-Index: 2;
	visibility: hidden;
}

/* Icon Panel Open */
#panelOpenHolder {
	border-radius: 30%;
	position: fixed;
	top: 8%;
	right: 2.5%;
	height: 7.5%;
	width: 13.35%;
	z-index: 1;
	background: #D2691E;
	opacity: 0.85;
}
#panelOpen {
	position: fixed;
	right: 5.4%;
	top: 8.2%;
	color: white;
	z-Index: 2;
}

/* Pinpoint button panel */
#pinpointHolder{
	border-radius: 30%;
	position: fixed;
	top: 8%;
	left: 2.5%;
	height: 7.5%;
	width: 13.35%;
	z-index: 1;
	background: #D2691E;
	opacity: 0.85;
}
#pinpoint {
	position: fixed;
	left: 3.6%;
	top: 8.3%;
	z-Index: 2;
	color: white;
}
/* Nearest Bin Button panel */
#nearestBinHolder {
	border-radius: 30%;
	position: fixed;
	bottom: 4%;
	left: 2.5%;
	height: 7.5%;
	width: 13.35%;
	z-index: 1;
	background: #D2691E;
	opacity: 0.85;
}
#nearestBin {
	position: fixed;
	left: 4.2%;
	bottom: 4%;
	color: white;
	z-Index: 2;
}

/*---------------------------*/
/*------TUTORIAL MODALS------*/
/*---------------------------*/

.map-help-Modal{
	min-height: 0;
	border-radius: 10px;
	width: 80%;
	height: 60%;
	top: 20%;
	bottom: 20%;
	left: 10%;
	right: 10%;
	text-align: center;
}

#map-model-close{
	position: fixed;
	top: -80%;
	right: -8%;
	z-Index: 1;
}
/*---------------------------*/
/*-----------OTHER-----------*/
/*---------------------------*/

/* --- icon Selected state --- */
.iconSelected {
  opacity: 0.2;
}
/* --- Map element ---*/
#map {
	position: fixed;
	width: 100%;
	height: 100%;
}
/* ------ ?! ------ */
.scroll {
	height: 100%;
}
/* --- Text allignment in confirmation popups ---*/
.popup-body{
	text-align: center;
}

.text-center-custom{
	text-align: center !important;
}

#viewIm {
	position: relative;
	top:50%;
}

#mapRec {
	position: relative;
	width: 100%;
	top: 0;
	height: 100%;
	padding:30%;
}

.findingItem {
    position: relative;
    text-align: right;
}

/* ------ ?! ------ */
.scroll {
	height: 100%;
}

/*----------------------------------*/
/*----------- ANIMATIONS -----------*/
/*----------------------------------*/

.slide-in-left {
  -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }


/*---------------------------*/
/* ----- About us page ----- */
/*---------------------------*/

.aboutCompany{
	font-family: 'Amatica SC', sans-serif;
	text-align: center;
	font-size: 25px;
	line-height: 1.4em;
	margin-top: -2em;
	margin-right: 1.2em;
	margin-left	: 1.2em;
}

/*SLIDESHOW*/
.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.fadein {
  position:relative;
  max-width:500px;
  height:332px;
  overflow: hidden;
}

.fadein img {
  position:absolute;
  left:0;
  top:0;
  height: auto;
  max-width: 500px;
}


/*BUTTON*/

.wrapper {
	margin-top: 1.2em;
    text-align: center;
}

.button-link {
	background-color: #D2691E;
	border-radius: 8px;
	font-family:'Amatica SC', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
/*    margin: 4px 2px;*/
	margin-top: 0.1em;
	margin-bottom: 0.1em;
    cursor: pointer;
	width: 95%;
}

.helper1{
    font-family : "Ionicons";
    font-size : 17px;
    text-align: center;
}

.helper2{
    font-family : "Ionicons";
    font-size : 17px;
    text-align: center;
}

.helper3{
    font-family : "Ionicons";
    font-size : 17px;
    text-align: center;
}
