/*------------------------------------------------*/
/* ----- Screen dimensions (px) : 667 * 375 ----- */
/*------------------------------------------------*/

/*---------------------------*/
/* ----- About us page ----- */
/*---------------------------*/

.aboutCompany{
	font-family: 'Amatica SC', sans-serif;
	text-align: center;
	font-size: 30px;
	line-height: 1.7em; 
}

/*--------------------------*/
/* ----- Welcome page ----- */
/*--------------------------*/

#welcomeImageDiv{
	position: fixed;
	top: 20%;
	left: 5%;
	width: 90%;
	height: 50%;
}
#welcomeImage{
	width: 100%;
	height: 100%;
}

.background.scroll-content {
    background: url('../img/backgrounds/dog-paws2.jpg') no-repeat;
    background-size: cover;
		left: -40%;
		top: 5%;
}
/*--------------------------------*/
/* ----- Doggy Records page ----- */
/*--------------------------------*/

.background-DoggyRecords.scroll-content {
    background: url('../img/backgrounds/bones.jpg') no-repeat;
    background-size: cover;
}

.record{
	opacity: 0.90;
}
/*----------------------------*/
/* ----- Doggy Map page ----- */
/*----------------------------*/

/* --- Icon-panel --- */
#icon_panel {
	border-radius: 10%;
	position: fixed;
	top: 7%;
	left: 74%;
	width: 25%;
	height: 8%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 1%;
	padding-left: 1%;
	background: #D2691E;
}
/* --- Icon_panel spacer --- */
#icon_panel_spacer {
	float: left;
	width: 4%;
	height: 98%
}
/* --- Draggable Poop --- */
#poopDraggable {
	float: left;
	width: 48%;
	height: 98%;
	padding-top: 5%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 2%;
}
/* --- Draggable Bin --- */
#binDraggable {
	float: left;
	width: 48%;
	height: 98%;
	padding-top: 5%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 1%;
}
/* --- icon Selected state --- */
.iconSelected {
  opacity: 0.2;
}
/* --- Map loading blocker ---*/
#mapLoading{
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 85%;
	opacity: 1;
}
/* --- Map element ---*/
#map {
	position: fixed;
	width: 100%;
	height: 100%;
}
/* ------ ?! ------ */
.scroll {
	height: 100%;
}
/* --- Text allignment in confirmation popups ---*/
.popup-body{
	text-align: center;
}
#pinPointContainer{
	border-radius: 30%;
	position: fixed;
	top: 7.5%;
	right: 88%;
	height: 5.7%;
	width: 10%;
	z-index: 1;
	background: #D2691E;
}
#pinPoint {
	color: white;
	bottom: 8%;
	right: 6%;
}