/*------------------------------------------------*/
/* ----- Screen dimensions (px) : 667 * 375 ----- */
/*------------------------------------------------*/

/*---------------------------*/
/* ----- About us page ----- */
/*---------------------------*/

.aboutCompany{
	font-family: 'Amatica SC', sans-serif;
	text-align: center;
	font-size: 30px;
	line-height: 1.7em; 
}

/*--------------------------*/
/* ----- Welcome page ----- */
/*--------------------------*/

#welcomeImageDiv{
	position: fixed;
	top: 20%;
	left: 5%;
	width: 90%;
	height: 50%;
}
#welcomeImage{
	width: 100%;
	height: 100%;
}

.background.scroll-content {
    background: url('../img/backgrounds/dog-paws2.jpg') no-repeat;
    background-size: cover;
		left: -40%;
		top: 5%;
}
/*--------------------------------*/
/* ----- Doggy Records page ----- */
/*--------------------------------*/

.background-DoggyRecords.scroll-content {
    background: url('../img/backgrounds/bones.jpg') no-repeat;
    background-size: cover;
}

.record{
	opacity: 0.90;
}
/*----------------------------*/
/* ----- Doggy Map page ----- */
/*----------------------------*/

/* --- Icon-panel --- */
#icon_panel {
	border-radius: 10%;
	position: fixed;
	top: 8%;
	left: 72.5%;
	width: 25%;
	height: 7.5%;
	background: #D2691E;
	z-Index: 1;
	opacity: 0.9; 
}
/* --- Draggable Poop --- */
#poopDraggable {
	position: fixed;
	top: 8%;
	left: 73%;
	width: 12%;
	height: 7.35%;
	z-Index: 2;
}
/* --- Draggable Bin --- */
#binDraggable {
	position: fixed;
	top: 8%;
	left: 85.5%;
	width: 12%;
	height: 7.35%;
	z-Index: 2;
}
/* --- icon Selected state --- */
.iconSelected {
  opacity: 0.2;
}
/* --- Map element ---*/
#map {
	position: fixed;
	width: 100%;
	height: 100%;
}
/* ------ ?! ------ */
.scroll {
	height: 100%;
}
/* --- Text allignment in confirmation popups ---*/
.popup-body{
	text-align: center;
}
/* --- Pinpoint (refresh) panel --- */
#pinpointContainer{
	border-radius: 30%;
	position: fixed;
	top: 8%;
	left: 2.5%;
	height: 7.5%;
	width: 13.35%;
	z-index: 1;
	background: #D2691E;
	opacity: 0.9; 
}
#pinpoint {
	position: fixed;
	left: 3.4%;
	top: 8.3%;
	z-Index: 2;
	color: white;
}

/* --- nearBinButton panel --- */
#nearestBinContainer {
	border-radius: 30%;
	position: fixed;
	bottom: 4%;
	left: 2.5%;
	height: 7.5%;
	width: 13.35%;
	z-index: 1;
	background: #D2691E;
	opacity: 0.9; 
}

#nearestBin {
	position: fixed;
	left: 4.2%;
	bottom: 4%;
	color: white;
	z-Index: 2;
}